Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  grenade: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml

update constraint for python-glanceclient to new release 2.17.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tripleo-common to new release 11.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 13.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Switch node tests to inherit nodejs-run-test-browser.
  .zuul.d/cross-jobs.yaml
  playbooks/nodejs-pre.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Bump ovsdbapp to 1.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Use venv instead of virtualenv in generate script
  bindep.txt
  openstack_requirements/cmds/generate.py
  openstack_requirements/tests/test_generate.py
Due: build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Lower upper-constraints for requests
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Remove demjson from global requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Bump upper constraint for oslo.log to 4.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 4.1.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.policy to new release 3.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 3.41.6
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Revert "Remove six from local requirements"
  requirements.txt
Due: requirements-check

update constraint for os-traits to new release 2.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Temporarily cap setuptools<48.0.0
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

manual generate-constraints run
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Revert "Temporarily cap setuptools<48.0.0"
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

importlib-metadata: add python version rule
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Update oslotest constraint to 4.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for keystoneauth1 to new release 3.17.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Add "isort" library to blacklist
  blacklist.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.policy to new release 2.3.4
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.policy to new release 2.1.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-openstackclient to new release 5.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for castellan to new release 3.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for taskflow to new release 4.3.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for castellan to new release 3.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Update magnumclient to 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.policy to new release 3.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.messaging to new release 12.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Add zstd to the global-requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Fix failure with setuptools >= 49.0.0
  openstack_requirements/tests/test_requirement.py
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15
