Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-centos-8-stream, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, build-wheel-cache-ubuntu-jammy-arm64, cross-nova-py38, cross-placement-py38, tempest-pg-full

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-run-test-browser
  timeout: 2400
  ...

cross-aodh-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on aodh with py311.
  required-projects: openstack/aodh
  vars:
    tox_envlist: py311

cross-barbican-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on barbican with py311.
  required-projects: openstack/barbican
  vars:
    tox_envlist: py311

cross-ceilometer-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on ceilometer with py311.
  required-projects: openstack/ceilometer
  vars:
    tox_envlist: py311

cross-cinder-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py311.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py311

cross-designate-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on designate with py311.
  required-projects: openstack/designate
  vars:
    tox_envlist: py311

cross-glance-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py311.
  required-projects: openstack/glance
  vars:
    tox_envlist: py311

cross-heat-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on heat with py311.
  required-projects: openstack/heat
  vars:
    tox_envlist: py311

cross-horizon-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py311.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py311

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py311.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py311

cross-kuryr-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on kuryr-kubernetes with py311.
  required-projects: openstack/kuryr-kubernetes
  vars:
    tox_envlist: py311

cross-ironic-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py311.
  required-projects: openstack/ironic
  vars:
    tox_envlist: py311

cross-manila-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on manila with py311.
  required-projects: openstack/manila
  vars:
    tox_envlist: py311

cross-masakari-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on masakari with py311.
  required-projects: openstack/masakari
  vars:
    tox_envlist: py311

cross-mistral-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on mistral with py311.
  required-projects: openstack/mistral
  vars:
    tox_envlist: py311

Remove retired projects from the sync list
  projects.txt
Due: tempest-full-py3, tempest-pg-full

update constraint for os-api-ref to new release 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.versionedobjects to new release 3.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.reports to new release 3.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Add sherlock to requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.log to new release 6.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for stevedore to new release 5.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for cliff to new release 4.8.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for osc-lib to new release 3.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.messaging to new release 15.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for keystonemiddleware to new release 10.8.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.db to new release 17.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for aodhclient to new release 3.7.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for os_vif to new release 4.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.utils to new release 7.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Update netaddr to the latest version
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Bump cryptography to latest version
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Bump croniter to latest version
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for keystoneauth1 to new release 5.9.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Move requirement-check job to ubuntu noble
  .zuul.d/project-template.yaml
  roles/check-requirements/tasks/main.yaml
Due: tempest-full-py3, tempest-pg-full

update constraint for ovsdbapp to new release 2.9.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.utils to new release 8.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Add grpcio back to global requirements
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Add libsass
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.db to new release 17.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Drop pyngus
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Bump jsonschema to version 4.23.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Sort global-requirements.txt alphabetically
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Drop networking-odl
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Remove os-win's dependencies from global requirements
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

update constraint for openstacksdk to new release 4.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Remove django-pyscss and pyscss as they are no longer used
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Add molecule and molecule-plugins to denylist
  denylist.txt
Due: tempest-full-py3, tempest-pg-full

update constraint for glance_store to new release 4.9.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for neutron-lib to new release 3.17.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-centos-8-stream-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy-arm64: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
