Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-centos-8-arm64: any of: bindep.txt
  build-wheel-cache-debian-buster-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

update constraint for python-watcherclient to new release 4.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-brick to new release 5.2.4
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-brick to new release 6.1.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-zaqarclient to new release 2.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-solumclient to new release 3.8.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-mistralclient to new release 5.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-monascaclient to new release 2.8.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tap-as-a-service to new release 12.0.0.0rc1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 21.0.0.0rc1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-openstackclient to new release 6.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Add influxdb-client
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Drop cross-osc-build-sphinx-docs from stein
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 2.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for virtualbmc to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Bump wsme to 0.12.1, sphinxcontrib-pecanwsme to 0.11.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 23.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for castellan to new release 4.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-barbicanclient to new release 5.6.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Add python3.11 to generate-constraints
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update requirements-tox-py311-check-uc definition
  .zuul.d/jobs.yaml
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.messaging to new release 14.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Make cross-masakari-py310 non-voting
  .zuul.d/project.yaml
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.db to new release 14.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for stable/2023.2
  .gitreview
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Bump Pint in upper-constraints.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 21.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tap-as-a-service to new release 12.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Revert Pillow version pin to 9.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Bump Sphinx + deps to latest version
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Add python-observabilityclient
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 3.5.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Add typing_extensions
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for pbr to new release 6.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for glance_store to new release 4.3.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 6.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for testtools to 2.7.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15
