Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

requirements-cross-test:
  parent: openstack-tox
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py35.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py35

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py35.
  required-projects: openstack/glance
  vars:
    tox_envlist: py35

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py35.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py35

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py35.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py35

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py35.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py35

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py35.
  required-projects: openstack/nova
  vars:
    tox_envlist: py35

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py35.
  required-projects: openstack/swift
  vars:
    tox_envlist: py35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

update constraint for os-win to new release 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for paunch to new release 1.5.5
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Correct error message when lower-constraints.txt is being checked
  openstack_requirements/cmds/validate.py
  openstack_requirements/constraints.py
Due: none

Add neutron and horizon to global requirements
  global-requirements.txt
  lower-constraints.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Drop tempest-lib users from projects.txt
  projects.txt
Due: none

update constraint for os-win to new release 4.0.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Drop back to Sphinx 1.6.5
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Updated from global requirements
  test-requirements.txt
Due: requirements-check

Uncap sphinx again
  global-requirements.txt
Due: requirements-check

Add cross-docs check to catch sphinx induced failures
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: none

Remove tox_siblings setting
  .zuul.d/cross-jobs.yaml
Due: none

Update G-R for pyOpenSSL>=17.1.0
  global-requirements.txt
  lower-constraints.txt
Due: requirements-check

update constraint for python-ironicclient to new release 2.3.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for ovsdbapp to new release 0.10.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Remove cap on websocket-client
  global-requirements.txt
Due: requirements-check

update constraint for python-ironic-inspector-client to new release 3.1.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Update minimum acceptable version for ovsdbapp to 0.10.0
  global-requirements.txt
  lower-constraints.txt
Due: requirements-check

Update netmiko minimum version to 2.0.2
  global-requirements.txt
  lower-constraints.txt
Due: requirements-check

Bump oslo.config to 5.2.0
  global-requirements.txt
  lower-constraints.txt
Due: requirements-check

update constraint for oslo.serialization to new release 2.25.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.i18n to new release 3.20.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.privsep to new release 1.28.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.cache to new release 1.29.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.concurrency to new release 3.26.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.utils to new release 3.36.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for mox3 to new release 0.25.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.middleware to new release 3.35.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslotest to new release 3.3.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.messaging to new release 5.36.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.log to new release 3.37.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.versionedobjects to new release 1.32.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Path conditions:
  requirements-cross-test: any of: ^upper-constraints.txt$
  cross-cinder-py27: any of: ^upper-constraints.txt$
  cross-cinder-py35: any of: ^upper-constraints.txt$
  cross-glance-py27: any of: ^upper-constraints.txt$
  cross-glance-py35: any of: ^upper-constraints.txt$
  cross-horizon-py27: any of: ^upper-constraints.txt$
  cross-horizon-py35: any of: ^upper-constraints.txt$
  cross-keystone-py27: any of: ^upper-constraints.txt$
  cross-keystone-py35: any of: ^upper-constraints.txt$
  cross-neutron-py27: any of: ^upper-constraints.txt$
  cross-neutron-py35: any of: ^upper-constraints.txt$
  cross-nova-functional: any of: ^upper-constraints.txt$
  cross-nova-py27: any of: ^upper-constraints.txt$
  cross-nova-py35: any of: ^upper-constraints.txt$
  cross-swift-py27: any of: ^upper-constraints.txt$
  cross-swift-py35: any of: ^upper-constraints.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
