Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8-stream, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, tempest-full-py3, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, build-wheel-cache-ubuntu-jammy-arm64, tempest-pg-full

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-run-test-browser
  timeout: 2400
  ...

cross-aodh-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on aodh with py310.
  required-projects: openstack/aodh
  vars:
    tox_envlist: py310

cross-barbican-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on barbican with py310.
  required-projects: openstack/barbican
  vars:
    tox_envlist: py310

cross-ceilometer-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on ceilometer with py310.
  required-projects: openstack/ceilometer
  vars:
    tox_envlist: py310

cross-cinder-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py310.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py310

cross-designate-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on designate with py310.
  required-projects: openstack/designate
  vars:
    tox_envlist: py310

cross-glance-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py310.
  required-projects: openstack/glance
  vars:
    tox_envlist: py310

cross-heat-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on heat with py310.
  required-projects: openstack/heat
  vars:
    tox_envlist: py310

cross-horizon-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py310.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py310

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py310.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py310

cross-kuryr-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on kuryr-kubernetes with py310.
  required-projects: openstack/kuryr-kubernetes
  vars:
    tox_envlist: py310

cross-ironic-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py310.
  required-projects: openstack/ironic
  vars:
    tox_envlist: py310

cross-manila-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on manila with py310.
  required-projects: openstack/manila
  vars:
    tox_envlist: py310

cross-masakari-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on masakari with py310.
  required-projects: openstack/masakari
  vars:
    tox_envlist: py310

cross-mistral-py310:
  parent: requirements-cross-test
  description: Run cross-project tests on mistral with py310.
  required-projects: openstack/mistral
  vars:
    tox_envlist: py310

Bump pyOpenSSL to 23.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

Drop etcd3
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

Remove unused os-xen and XenAPI
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Remove directord and task-core
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Remove components from TripleO
  global-requirements.txt
  openstack_requirements/tests/files/upper-constraints.txt
  projects.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Add infoblox-client for Designate [1]
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Downgrade pillow to 9.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

[stable-only] Fix gate by capping tox version
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full

update constraint for neutron-lib to new release 3.4.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

Remove six
  detail.py
  openstack_requirements/cmds/update.py
  openstack_requirements/project.py
  openstack_requirements/tests/test_update.py
  requirements.txt
  tools/check-install.py
  tools/what-broke.py
Due: requirements-check, tempest-full-py3, tempest-pg-full

Remove 'update-requirements' tool
  openstack_requirements/cmds/update.py
  openstack_requirements/tests/common.py
  openstack_requirements/tests/test_update.py
  openstack_requirements/tests/test_update_pbr.py
  openstack_requirements/tests/test_update_suffix.py
  setup.cfg
  update.py
Due: tempest-full-py3, tempest-pg-full

generate-constraints: Log results somewhere
  openstack_requirements/cmds/generate.py
Due: tempest-full-py3, tempest-pg-full

Switch cross jobs to py311
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, tempest-full-py3, tempest-pg-full

Update eventlet to 0.35.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

Force use of 0.35.1 eventlet
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Updated from generate-constraints
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Bump SQLAlchemy to 1.4.51
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for python-manilaclient to new release 4.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for python-manilaclient to new release 4.6.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for oslo.messaging to new release 14.2.4
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for sushy to new release 4.1.7
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for python-openstackclient to new release 6.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

Remove unused abclient
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Update .gitreview for unmaintained/yoga
  .gitreview
Due: tempest-full-py3, tempest-pg-full

update constraint for keystoneauth1 to new release 5.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for python-openstackclient to new release 6.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for oslo.messaging to new release 14.0.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for os_vif to new release 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for sushy to new release 4.3.4
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for keystonemiddleware to new release 10.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for metalsmith to new release 1.8.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

update constraint for python-manilaclient to new release 4.1.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, tempest-pg-full

Block scrypt==0.8.21
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Retire PowerVMStacker SIG: Stop requirements syncing
  global-requirements.txt
  openstack_requirements/tests/files/upper-constraints.txt
  projects.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Remove unused deprecation library
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py310, cross-barbican-py310, cross-ceilometer-py310, cross-cinder-py310, cross-designate-py310, cross-glance-py310, cross-heat-py310, cross-horizon-py310, cross-horizon-npm, cross-keystone-py310, cross-kuryr-py310, cross-ironic-py310, cross-manila-py310, cross-masakari-py310, cross-mistral-py310, cross-neutron-py310, cross-nova-functional, cross-placement-functional-py310, cross-nova-pep8, cross-nova-py310, cross-placement-py310, cross-osvif-py3, cross-octavia-py310, cross-swift-py310, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, tempest-pg-full

Drop debian buster wheel cache checks
  .zuul.d/project.yaml
Due: tempest-full-py3, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py310: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-placement-py310: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py310: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  build-wheel-cache-centos-8-stream-arm64: any of: bindep.txt
  build-wheel-cache-debian-buster-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy-arm64: any of: bindep.txt
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
