Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-trusty, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-npm-run-test
  timeout: 2400
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py35.
  required-projects: openstack/cinder
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py35.
  required-projects: openstack/glance
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py35.
  required-projects: openstack/horizon
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py35.
  required-projects: openstack/keystone
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py35.
  required-projects: openstack/neutron
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py35.
  required-projects: openstack/nova
  nodeset: ubuntu-xenial
  vars:
    tox_envlist: py35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

update constraint for python-keystoneclient to new release 3.15.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for nosehtmloutput to new release 0.0.7
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for python-openstackclient to new release 3.16.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

Update check-requirements for py3
  playbooks/files/project-requirements-change.py
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150

Handle relative paths for local check-requirements
  playbooks/files/project-requirements-change.py
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150

Cap gunicorn for py27
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

update constraint for mistral-lib to new release 1.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for mistral-lib to new release 1.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for os_vif to new release 1.11.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for python-novaclient to new release 11.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for python-novaclient to new release 13.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

Remove build_docs settings from setup.cfg
  setup.cfg
Due: none

Remove requirements-integration job
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  bindep.txt
  global-requirements.txt
  playbooks/requirements-integration-dsvm/post.yaml
  playbooks/requirements-integration-dsvm/run.yaml
  tools/README.txt
  tools/integration.sh
Due: requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-trusty, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

update constraint for mistral-lib to new release 1.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

Update constraints for amqp to new release 2.5.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

Add new dependency for tabulate library
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

update constraint for oslo.utils to new release 3.42.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for oslo.utils to new release 3.41.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

Update constraints for amqp to new release 2.5.2
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

Drop old neutron-grenade job
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150

Requirements-check fails
  playbooks/requirements-check.yaml
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

Stop configuring install_command in tox.
  tox.ini
Due: requirements-tox-babel, neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse150

update constraint for python-openstackclient to new release 3.18.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150

fix gunicorn cap (typo made it in)
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse150, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-build-sphinx-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-trusty: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  cross-nova-py36: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse150: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
