Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

requirements-cross-test:
  parent: openstack-tox
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py35.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py35

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py35.
  required-projects: openstack/glance
  vars:
    tox_envlist: py35

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py35.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py35

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py35.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py35

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py35.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py35

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py35.
  required-projects: openstack/nova
  vars:
    tox_envlist: py35

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py35.
  required-projects: openstack/swift
  vars:
    tox_envlist: py35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

update constraint for python-senlinclient to new release 1.6.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-manilaclient to new release 1.21.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-neutronclient to new release 6.7.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-freezerclient to new release 1.6.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-designateclient to new release 2.9.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-watcherclient to new release 1.6.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-karborclient to new release 1.0.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-ironicclient to new release 2.2.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Bump g-r for ironicclient 2.2.0
  global-requirements.txt
Due: requirements-check

update constraint for python-barbicanclient to new release 4.6.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Drop unused gitdb dependency
  global-requirements.txt
Due: requirements-check

Update global requirements for python-vitrageclient to new release 2.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Add osc-placement to g-r and u-c
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

update constraint for oslo.versionedobjects to new release 1.31.2
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Zuul: Remove project name
  .zuul.d/project.yaml
Due: none

Remove empty ironic projects
  projects.txt
Due: none

update constraint for python-ironic-inspector-client to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Remove msgpack-python
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Increase timeout of cross unit tests
  .zuul.d/cross-jobs.yaml
Due: none

Require latest version of mypy
  global-requirements.txt
Due: requirements-check

update constraint for python-swiftclient to new release 3.5.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-zaqarclient to new release 1.9.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-keystoneclient to new release 3.15.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

raise minimum version of versionedobjects
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Require python-neutronclient 6.7.0 or higher
  global-requirements.txt
Due: requirements-check

update constraint for python-monascaclient to new release 1.10.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for ironic-lib to new release 2.12.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Update constraints for delayed Queens libs
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Update lower bound for openstacksdk to 0.11.2
  global-requirements.txt
Due: requirements-check

update constraint for sushy to new release 1.3.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for openstacksdk to new release 0.11.3
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for ovsdbapp to new release 0.9.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for ovsdbapp to new release 0.4.2
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for openstack-release-test to new release 0.12.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.serialization to new release 2.24.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Path conditions:
  requirements-cross-test: any of: ^upper-constraints.txt$
  cross-cinder-py27: any of: ^upper-constraints.txt$
  cross-cinder-py35: any of: ^upper-constraints.txt$
  cross-glance-py27: any of: ^upper-constraints.txt$
  cross-glance-py35: any of: ^upper-constraints.txt$
  cross-horizon-py27: any of: ^upper-constraints.txt$
  cross-horizon-py35: any of: ^upper-constraints.txt$
  cross-keystone-py27: any of: ^upper-constraints.txt$
  cross-keystone-py35: any of: ^upper-constraints.txt$
  cross-neutron-py27: any of: ^upper-constraints.txt$
  cross-neutron-py35: any of: ^upper-constraints.txt$
  cross-nova-functional: any of: ^upper-constraints.txt$
  cross-nova-py27: any of: ^upper-constraints.txt$
  cross-nova-py35: any of: ^upper-constraints.txt$
  cross-swift-py27: any of: ^upper-constraints.txt$
  cross-swift-py35: any of: ^upper-constraints.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
