Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, build-wheel-cache-centos-7, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-xenial, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-npm-run-test
  timeout: 2400
  ...

cross-cinder-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py36.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py36

cross-glance-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py36.
  required-projects: openstack/glance
  vars:
    tox_envlist: py36

cross-horizon-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py36.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py36

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py36.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py36

cross-neutron-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py36.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py36

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py36.
  required-projects: openstack/nova
  vars:
    tox_envlist: py36

cross-octavia-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on octavia with py36.
  required-projects: openstack/octavia
  vars:
    tox_envlist: py36

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py36.
  required-projects: openstack/swift
  vars:
    tox_envlist: py36

cross-osc-tox-docs:
  parent: openstack-tox-docs
  description: 'Run cross-project tests on python-openstackclient with
  
    openstack-tox-docs.
  
    '
  vars:
    zuul_work_dir: src/opendev.org/openstack/python-openstackclient
  required-projects:
  - openstack/python-openstackclient

requirements-tox-babel:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``babel`` environment.
  
    '
  vars:
    tox_envlist: babel

requirements-tox-py27-check-uc:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``py27-check-uc`` environment.
  
    '
  vars:
    tox_envlist: py27-check-uc

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

update constraint for python-glanceclient to new release 3.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

Add barbican crosscheck job
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ovsdbapp to new release 1.11.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for validations-libs to new release 1.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

Downgrade validation lib to 1.1.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Add ruamel.yaml to global-requirements.txt
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Deprecate OpenStack-Ansible nspawn repositories
  projects.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

Make tox -e generate easier to use
  openstack_requirements/cmds/generate.py
  tox.ini
Due: requirements-tox-babel, neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

update eventlet to 0.31.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.privsep to new release 2.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

remove invalid ansible_python_interpreter variable
  .zuul.d/jobs.yaml
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

Add "isort" library to blacklist
  blacklist.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

[stable-only] Cap hacking
  tox.ini
Due: requirements-tox-babel, neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.log to new release 4.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.reports to new release 2.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.rootwrap to new release 6.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for taskflow to new release 4.6.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for etcd3gw to new release 1.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for osc-placement to new release 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for osc-lib to new release 2.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

Add datetimerange library to global requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for oslo.db to new release 10.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

Deprecate os_panko role
  projects.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 4.9.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

tripleo-common-tempest-plugin - Step 1: Stop requirements syncing
  projects.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron to new release 17.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron to new release 16.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron to new release 18.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for yaql to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 2.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 2.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 2.3.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py35, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  cross-nova-py35: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
