Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-centos-7, build-wheel-cache-centos-8, build-wheel-cache-debian-buster, build-wheel-cache-ubuntu-xenial, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-centos-8-arm64, build-wheel-cache-debian-buster-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-npm-run-test
  timeout: 2400
  ...

cross-cinder-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py36.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py36

cross-glance-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py36.
  required-projects: openstack/glance
  vars:
    tox_envlist: py36

cross-horizon-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py36.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py36

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py36.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py36

cross-neutron-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py36.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py36

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py36.
  required-projects: openstack/nova
  vars:
    tox_envlist: py36

cross-octavia-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on octavia with py36.
  required-projects: openstack/octavia
  vars:
    tox_envlist: py36

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py36:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py36.
  required-projects: openstack/swift
  vars:
    tox_envlist: py36

cross-osc-tox-docs:
  parent: openstack-tox-docs
  description: 'Run cross-project tests on python-openstackclient with
  
    openstack-tox-docs.
  
    '
  vars:
    zuul_work_dir: src/opendev.org/openstack/python-openstackclient
  required-projects:
  - openstack/python-openstackclient

requirements-tox-babel:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``babel`` environment.
  
    '
  vars:
    tox_envlist: babel

requirements-tox-py27-check-uc:
  parent: openstack-tox
  description: 'Run test for requirements project.
  
  
    Uses tox with the ``py27-check-uc`` environment.
  
    '
  vars:
    tox_envlist: py27-check-uc

requirements-check:
  parent: unittests
  nodeset: ubuntu-bionic
  run: playbooks/requirements-check.yaml
  required-projects:
  - openstack/requirements

update constraint for python-saharaclient to new release 4.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

[stable-only]Pin PrettyTable in py3.9 in stable/yoga
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Block prettytable 3.4.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-heatclient to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.concurrency to new release 5.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Update constraint for defusedxml to new release 0.7.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-novaclient to new release 17.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tooz to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 19.0.0.0rc1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tap-as-a-service to new release 10.0.0.0rc1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-saharaclient to new release 4.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-watcherclient to new release 4.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 23.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-zaqarclient to new release 2.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-magnumclient to new release 4.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for stable/zed
  .gitreview
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.d/project.yaml
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

[CVE-2022-1941] Bump protobuf version to 3.19.5
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Fix backport checks
  openstack_requirements/check.py
  openstack_requirements/tests/test_check.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 19.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tap-as-a-service to new release 10.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Switch cross testing to python3.10
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Add upper limit for oslo.utils in stable/victoria
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 4.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 3.3.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 3.5.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 0.102.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

[tests] to pass a list to _is_requirement_in_global_reqs()
  openstack_requirements/tests/test_check.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 4.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 3.5.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.db to new release 12.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 3.4.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 3.3.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for stevedore to new release 4.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.cache to new release 3.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstackdocstheme to new release 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-centos-7: any of: bindep.txt
  build-wheel-cache-centos-8: any of: bindep.txt
  build-wheel-cache-debian-buster: any of: bindep.txt
  build-wheel-cache-ubuntu-xenial: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-centos-8-arm64: any of: bindep.txt
  build-wheel-cache-debian-buster-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
