Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-centos-8-stream, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, build-wheel-cache-ubuntu-jammy-arm64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-centos-8-stream-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy-arm64: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

update constraint for octavia-lib to new release 3.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for keystoneauth1 to new release 5.1.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-zaqarclient to new release 2.8.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-openstackclient to new release 7.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for tap-as-a-service to new release 14.0.0.0rc1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-troveclient to new release 8.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for openstack-release-test to new release 7.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for ceilometer to new release 23.0.0.0rc1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-openstackclient to new release 7.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

block know broken release of osc
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Change OSC block to a cap
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

cleanup after 'update-requirements' removal
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full

Bump tenacity to version 8.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-openstackclient to new release 7.1.2
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Update .gitreview for stable/2024.2
  .gitreview
Due: tempest-full-py3, tempest-pg-full

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full

add rudimentary asyncio database clients
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for tap-as-a-service to new release 14.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for ceilometer to new release 23.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for os-traits to new release 3.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-openstackclient to new release 7.1.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for neutron-lib to new release 3.16.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for openstacksdk to new release 4.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.messaging to new release 14.9.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for ironic-lib to new release 5.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for openstackdocstheme to new release 3.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for openstacksdk to new release 4.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for sushy to new release 5.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Remove Python 3.8 tests and constraints
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  global-requirements.txt
  tox.ini
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Bump importlib-metadata to version 8.0.0 (>=py3.10)
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-openstackclient to new release 7.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-openstackclient to new release 7.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for sushy to new release 5.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Update constraint for pyeclib to new release 1.6.4
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Update requirements-check job
  .zuul.d/project-template.yaml
Due: tempest-full-py3, tempest-pg-full

Switch cross tests to python3.12
  .zuul.d/cross-jobs.yaml
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, tempest-full-py3, tempest-pg-full

update constraint for oslo.messaging to new release 14.7.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for pycadf to new release 4.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full
