Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, requirements-check-self, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-ubuntu-focal-arm64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

requirements-cross-test:
  parent: openstack-tox
  timeout: 2400
  ...

requirements-cross-npm:
  parent: nodejs-run-test-browser
  timeout: 2400
  ...

cross-aodh-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on aodh with py311.
  required-projects: openstack/aodh
  vars:
    tox_envlist: py311

cross-barbican-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on barbican with py311.
  required-projects: openstack/barbican
  vars:
    tox_envlist: py311

cross-ceilometer-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on ceilometer with py311.
  required-projects: openstack/ceilometer
  vars:
    tox_envlist: py311

cross-cinder-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py311.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py311

cross-designate-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on designate with py311.
  required-projects: openstack/designate
  vars:
    tox_envlist: py311

cross-glance-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py311.
  required-projects: openstack/glance
  vars:
    tox_envlist: py311

cross-heat-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on heat with py311.
  required-projects: openstack/heat
  vars:
    tox_envlist: py311

cross-horizon-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py311.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py311

cross-horizon-npm:
  parent: requirements-cross-npm
  description: Run cross-project tests on horizon with npm.
  required-projects: openstack/horizon
  vars:
    tox_envlist: npm

cross-keystone-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py311.
  required-projects: openstack/keystone
  timeout: 3600
  vars:
    tox_envlist: py311

cross-kuryr-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on kuryr-kubernetes with py311.
  required-projects: openstack/kuryr-kubernetes
  vars:
    tox_envlist: py311

cross-ironic-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on ironic with py311.
  required-projects: openstack/ironic
  vars:
    tox_envlist: py311

cross-magnum-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on magnum with py311.
  required-projects: openstack/magnum
  vars:
    tox_envlist: py311

cross-manila-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on manila with py311.
  required-projects: openstack/manila
  vars:
    tox_envlist: py311

cross-masakari-py311:
  parent: requirements-cross-test
  description: Run cross-project tests on masakari with py311.
  required-projects: openstack/masakari
  vars:
    tox_envlist: py311

requirements-check:
  parent: unittests
  ...

update constraint for python-swiftclient to new release 4.11.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for osc-placement to new release 4.9.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-novaclient to new release 18.13.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-watcherclient to new release 4.11.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for keystoneauth1 to new release 5.17.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-manilaclient to new release 6.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Remove python-vitrageclient
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 4.20.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-cinderclient to new release 9.10.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-tackerclient to new release 2.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for networking-generic-switch to new release 10.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os_vif to new release 5.2.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for glance_store to new release 5.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.log to new release 8.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-openstackclient to new release 7.5.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 27.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for stable/2026.2
  .gitreview
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/2026.2
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.db to new release 17.2.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 4.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.log to new release 8.3.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tosca-parser to new release 2.15.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Downgrade salt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.messaging to new release 17.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.messaging to new release 17.3.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-refresh-config to new release 14.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-apply-config to new release 14.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-collect-config to new release 14.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Do not fail on optional dependencies
  openstack_requirements/check.py
  openstack_requirements/project.py
  openstack_requirements/tests/test_check.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove dead code
  openstack_requirements/check.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove unused property
  openstack_requirements/check.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove backports.txt file, backport handling
  backports.txt
  openstack_requirements/check.py
  openstack_requirements/tests/test_check.py
  playbooks/files/project-requirements-change.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

test: Remove use of testscenarios
  openstack_requirements/tests/test_check_constraints.py
  openstack_requirements/tests/test_edit_constraint.py
  openstack_requirements/tests/test_project.py
  openstack_requirements/tests/test_requirement.py
  test-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Allow projects to drop their Windows specifiers
  openstack_requirements/check.py
  openstack_requirements/tests/test_check.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove tomli dependency
  openstack_requirements/project.py
  requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstack-release-test to new release 8.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

tox: Fail if ruff format makes changes
  openstack_requirements/check.py
  openstack_requirements/tests/test_requirement.py
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

ruff: Enable E5 rules
  doc/source/conf.py
  openstack_requirements/check.py
  openstack_requirements/cmds/check_exists.py
  openstack_requirements/constraints.py
  openstack_requirements/project_config.py
  openstack_requirements/requirement.py
  openstack_requirements/tests/test_check.py
  openstack_requirements/tests/test_generate.py
  pyproject.toml
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove sqlalchemy-filters
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-magnum-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, ^lower-constraints.txt$, ^pyproject.toml$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  requirements-check-self: any of: ^playbooks/requirements-check.yaml$, ^roles/check-requirements/
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  cross-nova-py36: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
