Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py36: (any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml) or (any of: ^upper-constraints.txt$)
  cross-octavia-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py36: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  grenade: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ironic-lib to new release 2.21.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-ironic-inspector-client to new release 3.7.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-ironicclient to new release 3.1.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for sushy to new release 2.0.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Cap zipp for py3.5
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for os-win to new release 5.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstack-release-test to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Cap few deps of keystoneauth for py3.5
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Fix 'oslo.i18n' requirement error
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Add pytest-xdist to global requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for ovsdbapp to new release 0.17.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ovsdbapp to new release 0.15.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tripleo-common to new release 12.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-apply-config to new release 11.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for paunch to new release 7.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-net-config to new release 12.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ovsdbapp to new release 1.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron to new release 15.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron to new release 14.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ovsdbapp to new release 1.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Move wheel build jobs out of project-config
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Extend libzmq negative match to focal
  bindep.txt
Due: requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

bindep.txt: Install python3-devel for CentOS 8
  bindep.txt
Due: requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Add more wheel builds to check
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-magnumclient to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Fix job issues for stable branch
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  openstack_requirements/cmds/generate.py
  openstack_requirements/tests/test_update.py
  playbooks/requirements-integration-dsvm/post.yaml
  playbooks/requirements-integration-dsvm/run.yaml
  tools/README.txt
  tools/integration.sh
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Pin stestr to 0.4.0 on ocata
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Retire Paunch
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Remove legacy-tempest-dsvm-neutron-full
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

CI: Add Debian 'buster' wheel cache jobs
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for osc-lib to new release 2.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Remove congress
  global-requirements.txt
  projects.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py36, cross-glance-py36, cross-horizon-py36, cross-horizon-npm, cross-keystone-py36, cross-neutron-py36, cross-nova-functional, cross-nova-py36, cross-octavia-py36, cross-swift-py27, cross-swift-py36, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, requirements-tox-validate-projects, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

bindep: add missing build dependencies
  bindep.txt
Due: requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Update comment in bindep.txt
  bindep.txt
Due: requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15

Switch to build-wheel-cache jobs
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full-py3, grenade, tempest-pg-full, tempest-full-py3-opensuse15
