Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-trusty, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-build-sphinx-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-trusty: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  neutron-grenade: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  cross-nova-py36: any of: ^upper-constraints.txt$
  cross-nova-py37: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml

update constraint for oslo.versionedobjects to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for bashate to new release 1.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-ken to new release 1.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-manilaclient to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for futurist to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

add more caps for recently released libs
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for sushy to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-qinlingclient to new release 5.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-senlinclient to new release 2.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-solumclient to new release 3.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-muranoclient to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.upgradecheck to new release 0.4.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-swiftclient to new release 3.9.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-cinderclient to new release 6.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for oslo.i18n to new release 4.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for oslo.upgradecheck to new release 1.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.privsep to new release 2.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

switch tempest job to py3 version
  .zuul.d/project.yaml
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.reports to new release 2.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-mistralclient to new release 4.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for os_vif to new release 2.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-congressclient to new release 2.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-freezerclient to new release 3.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-designateclient to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tricircleclient to new release 1.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-masakariclient to new release 5.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-tackerclient to new release 1.0.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for python-zaqarclient to new release 1.13.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron-lib to new release 2.1.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

cap libvirt-python for py27
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Bump diskimage-builder to 2.30.0 in UC
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.config to new release 8.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Fix missing = in neutron-lib marker
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Fix oslo.privsep global-requirements with py3
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

blacklist blockdiag 2.0.0
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

blacklist bad mock releases 4.0.0 and 4.0.1
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

blacklist oslo.policy-3.0.0
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full, neutron-grenade, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for sushy to new release 2.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-apply-config to new release 11.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tripleo-common to new release 12.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full, neutron-grenade, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15
