Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

requirements-cross-test:
  parent: openstack-tox
  ...

cross-cinder-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py27.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py27

cross-cinder-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on cinder with py35.
  required-projects: openstack/cinder
  vars:
    tox_envlist: py35

cross-glance-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py27.
  required-projects: openstack/glance
  vars:
    tox_envlist: py27

cross-glance-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on glance with py35.
  required-projects: openstack/glance
  vars:
    tox_envlist: py35

cross-horizon-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py27.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py27

cross-horizon-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on horizon with py35.
  required-projects: openstack/horizon
  vars:
    tox_envlist: py35

cross-keystone-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py27.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py27

cross-keystone-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on keystone with py35.
  required-projects: openstack/keystone
  vars:
    tox_envlist: py35

cross-neutron-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py27.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py27

cross-neutron-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on neutron with py35.
  required-projects: openstack/neutron
  vars:
    tox_envlist: py35

cross-nova-functional:
  parent: requirements-cross-test
  description: Run cross-project functional tests on nova.
  required-projects: openstack/nova
  vars:
    tox_envlist: functional

cross-nova-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py27.
  required-projects: openstack/nova
  vars:
    tox_envlist: py27

cross-nova-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on nova with py35.
  required-projects: openstack/nova
  vars:
    tox_envlist: py35

cross-swift-py27:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py27.
  required-projects: openstack/swift
  vars:
    tox_envlist: py27

cross-swift-py35:
  parent: requirements-cross-test
  description: Run cross-project tests on swift with py35.
  required-projects: openstack/swift
  vars:
    tox_envlist: py35

requirements-check:
  parent: unittests
  required-projects:
  - openstack/requirements

switch to zuul.projects from zuul._projects
  playbooks/requirements-check.yaml
Due: requirements-check

update constraint for oslo.messaging to new release 5.30.2
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for taskflow to new release 3.0.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.policy to new release 1.32.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.db to new release 4.32.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.rootwrap to new release 5.12.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.utils to new release 3.33.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.concurrency to new release 3.24.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for oslo.service to new release 1.28.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Add python-magic to requirements.
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Fix bindep.txt for xenial
  bindep.txt
Due: none

Add cinder-tempest-plugin repo for updates
  projects.txt
Due: none

update constraint for osc-lib to new release 1.8.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-openstackclient to new release 3.13.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

reset grpcio - upstream removed 1.8.0 from pypi
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Black list oslo.service 1.28.1
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Blacklist rtslib-fb 2.1.64
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Add raven
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Bump oslo.utils to 3.33.0
  global-requirements.txt
Due: requirements-check

update constraint for oslo.privsep to new release 1.25.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-zaqarclient to new release 1.8.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for taskflow to new release 3.0.1
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Bump castellan to 0.16.0
  global-requirements.txt
Due: requirements-check

Bump OVS version to 2.8.1 in upper-constraints
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Bump OVS requirement to >= 2.8.0
  global-requirements.txt
Due: requirements-check

Drop django_openstack_auth from projects.txt
  projects.txt
Due: none

Bump osc-lib to >= 1.8.0
  global-requirements.txt
Due: requirements-check

Remove MySQL-python
  global-requirements.txt
  openstack_requirements/tests/files/gr-base.txt
  openstack_requirements/tests/files/test-project.txt
  openstack_requirements/tests/files/upper-constraints.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, requirements-check

Update kubernetes client in global-requirements.txt to 4.0.0
  global-requirements.txt
Due: requirements-check

Require python-cinderclient>=3.3.0
  global-requirements.txt
Due: requirements-check

update constraint for monasca-common to new release 2.6.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for monasca-statsd to new release 1.9.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

update constraint for python-monascaclient to new release 1.9.0
  upper-constraints.txt
Due: requirements-cross-test, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35

Path conditions:
  requirements-cross-test: any of: ^upper-constraints.txt$
  cross-cinder-py27: any of: ^upper-constraints.txt$
  cross-cinder-py35: any of: ^upper-constraints.txt$
  cross-glance-py27: any of: ^upper-constraints.txt$
  cross-glance-py35: any of: ^upper-constraints.txt$
  cross-horizon-py27: any of: ^upper-constraints.txt$
  cross-horizon-py35: any of: ^upper-constraints.txt$
  cross-keystone-py27: any of: ^upper-constraints.txt$
  cross-keystone-py35: any of: ^upper-constraints.txt$
  cross-neutron-py27: any of: ^upper-constraints.txt$
  cross-neutron-py35: any of: ^upper-constraints.txt$
  cross-nova-functional: any of: ^upper-constraints.txt$
  cross-nova-py27: any of: ^upper-constraints.txt$
  cross-nova-py35: any of: ^upper-constraints.txt$
  cross-swift-py27: any of: ^upper-constraints.txt$
  cross-swift-py35: any of: ^upper-constraints.txt$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml
