Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, requirements-tox-validate-projects, requirements-tox-bindep, build-wheel-mirror-centos-7, build-wheel-mirror-ubuntu-bionic, build-wheel-mirror-ubuntu-xenial, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py27: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py35: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-build-sphinx-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py36-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-validate-projects: any of: ^projects.txt
  requirements-tox-bindep: any of: ^bindep.txt$
  build-wheel-mirror-centos-7: any of: bindep.txt
  build-wheel-mirror-ubuntu-bionic: any of: bindep.txt
  build-wheel-mirror-ubuntu-xenial: any of: bindep.txt
  neutron-grenade-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  cross-nova-py36: any of: ^upper-constraints.txt$
  cross-nova-py37: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-check: any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml

update constraint for ceilometer to new release 13.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 11.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 12.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-win to new release 5.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-octaviaclient to new release 1.6.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Manual run of generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 4.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslotest to new release 4.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-glanceclient to new release 3.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.messaging to new release 12.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.cache to new release 2.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.vmware to new release 3.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.serialization to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for tooz to new release 2.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.db to new release 8.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for bashate to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 3.41.5
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-cinderclient to new release 4.0.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-brick to new release 2.5.10
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Exclude pyghmi 1.5.11 since it breaks VirtualBMC
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade-py3, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Add importlib-metadata
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade-py3, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for oslo.utils to new release 3.40.6
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for futurist to new release 2.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

black list oslo.cache 2.1.0
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for virtualbmc to new release 2.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraint
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Skip setuptools 46.0.0
  global-requirements.txt
  test-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade-py3, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for neutron-lib to new release 2.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Bump MarkupSafe to 1.1.1 due to setuptools change
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 0.43.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Add pytest and it's plugins to global requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

update constraint for ironic-lib to new release 4.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15

Cap setuptools<46.0.0
  global-requirements.txt
Due: neutron-grenade-multinode, tempest-full-py3, grenade-py3, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check

Added sqlalchemy-filters requirement
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-cinder-py27, cross-cinder-py35, cross-glance-py27, cross-glance-py35, cross-horizon-py27, cross-horizon-py35, cross-horizon-npm, cross-keystone-py27, cross-keystone-py35, cross-neutron-py27, cross-neutron-py35, cross-nova-functional, cross-nova-py27, cross-nova-py35, cross-swift-py27, cross-swift-py35, cross-osc-build-sphinx-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-tox-py36-check-uc, neutron-grenade-multinode, tempest-full-py3, grenade-py3, cross-nova-py36, cross-nova-py37, tempest-pg-full, tempest-full-py3-opensuse15, requirements-check
