Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-centos-8-stream, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, build-wheel-cache-ubuntu-jammy, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-centos-8-stream-arm64, build-wheel-cache-ubuntu-bionic-arm64, build-wheel-cache-ubuntu-focal-arm64, build-wheel-cache-ubuntu-jammy-arm64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-centos-8-stream: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-centos-8-stream-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-bionic-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  build-wheel-cache-ubuntu-jammy-arm64: any of: bindep.txt
  cross-nova-py38: any of: ^upper-constraints.txt$
  cross-placement-py38: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full

bump eventlet to the latest version
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.log to new release 5.3.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for oslo.log to new release 5.5.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for ceilometer to new release 22.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for tap-as-a-service to new release 13.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Partial Revert "Updated from generate-constraints"
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Add jobs without the pre-built wheels
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
  playbooks/drop-wheel-mirror.yaml
Due: tempest-full-py3, tempest-pg-full

Remove cap on tomllib
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Remove unnecessary Python 3 cap libs
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Remove indirect dep blocks
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Remove irrelevant notes
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

update constraint for openstacksdk to new release 3.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Remove stale, unused dependencies
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Group requirements into sections and sort
  global-requirements.txt
  tools/lint.py
Due: requirements-check, tempest-full-py3, tempest-pg-full

Add ability to strip old excludes
  global-requirements.txt
  tools/lint.py
Due: requirements-check, tempest-full-py3, tempest-pg-full

update constraint for taskflow to new release 5.7.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Update SQLAlchemy and alembic, drop sqlalchemy-migrate
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for os-refresh-config to new release 14.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for os-apply-config to new release 14.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for os-collect-config to new release 14.0.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Bump Sphinx to latest version
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Add some more types packages
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-observabilityclient to new release 0.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for glance_store to new release 4.8.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Update .gitreview for unmaintained/zed
  .gitreview
Due: tempest-full-py3, tempest-pg-full

Bump testrepository
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Revert "Add ability to strip old excludes"
  global-requirements.txt
  tools/lint.py
Due: requirements-check, tempest-full-py3, tempest-pg-full

Add back docutils to global-requirements
  global-requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full

Remove pyinotify
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for sushy to new release 4.4.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for python-ironicclient to new release 5.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Stop pinning gabbi
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for sushy to new release 4.5.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

update constraint for metalsmith to new release 2.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full

Remove the Solum deliverables from req
  global-requirements.txt
  openstack_requirements/tests/files/upper-constraints.txt
  projects.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py38, cross-placement-py38, tempest-pg-full
