Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, requirements-check-self, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-ubuntu-focal-arm64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-cross-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-magnum-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py311: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, ^lower-constraints.txt$, ^pyproject.toml$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  requirements-check-self: any of: ^playbooks/requirements-check.yaml$, ^roles/check-requirements/
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  cross-nova-py36: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

update constraint for sphinx-feature-classification to new release 2.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for futurist to new release 3.3.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for os-api-ref to new release 3.2.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslotest to new release 6.1.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstackdocstheme to new release 3.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Add build-time constraints on setuptools<82 to check-uc jobs
  build-constraints.txt
  tools/pip.sh
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 25.7.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 25.5.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Stop vitrage requirements sync
  projects.txt
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

[stable-2025.1-only] Add pip.sh to py39 allowlist_externals
  .zuul.d/project.yaml
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Updated from generate-constraints
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for keystonemiddleware to new release 10.9.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Add the Sphinx copy-button
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Bump cross jobs to use python3.13
  .zuul.d/cross-jobs.yaml
  .zuul.d/project.yaml
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ovsdbapp to new release 2.16.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 25.3.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Bump testtools
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.utils to new release 10.0.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for etcd3gw to new release 2.6.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for cliff to new release 4.13.3
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Bump cliff
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

stable-only: Fix jobs failing in gate
  .zuul.d/project.yaml
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

[stable-only] Bump pbr version to 7.0.0 and pin setuptools
  tox.ini
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstack-release-test to new release 8.4.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstack-doc-tools to new release 4.0.2
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Drop pysnmp-lextudio from global-requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

stable-only: drop bionic wheel cache job
  .zuul.d/project.yaml
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 4.11.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslo.concurrency to new release 7.4.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for osc-lib to new release 4.5.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ovsdbapp to new release 2.17.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron-lib to new release 3.25.0
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for oslotest to new release 6.1.1
  upper-constraints.txt
Due: requirements-cross-test, requirements-cross-npm, cross-aodh-py311, cross-barbican-py311, cross-ceilometer-py311, cross-cinder-py311, cross-designate-py311, cross-glance-py311, cross-heat-py311, cross-horizon-py311, cross-horizon-npm, cross-keystone-py311, cross-kuryr-py311, cross-ironic-py311, cross-magnum-py311, cross-manila-py311, cross-masakari-py311, cross-mistral-py311, cross-neutron-py311, cross-nova-functional, cross-placement-functional-py311, cross-nova-pep8, cross-nova-py311, cross-placement-py311, cross-osvif-py3, cross-octavia-py311, cross-swift-py311, cross-osc-tox-docs, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15
